#!/usr/bin/make -f
DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

export PYBUILD_NAME=etcd
%:
	dh $@ --with python3,sphinxdoc --buildsystem=pybuild

clean:
	dh_testdir
	dh_auto_clean
	dh_clean

override_dh_auto_build:
	dh_auto_build
	PYTHONPATH=. http_proxy='127.0.0.1:9' python3 /usr/bin/sphinx-build -N -bhtml docs-source/ .pybuild/docs/html

override_dh_auto_test:
	@echo TESTS SKIPPED
